<nav class="navbar navbar-fixed-top navbar-light bg-faded">
  <div class="container">
    <a class="navbar-brand" href="/">AirAlien</a>
    <div class="nav navbar-nav pull-xs-right">
      <% if !user_signed_in? %>
        <%= link_to "Sign Up", new_user_registration_path, class: 'nav-item nav-link' %>
        <%= link_to "Login", new_user_session_path, class: 'nav-item nav-link' %>
      <% else %>
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= image_tag avatar_url(current_user), class: "avatar-small" %>
            <%= current_user.fullname %>
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <%= link_to "Your Listings", rooms_path, class: 'dropdown-item' %>
            <%= link_to "Your Reservations", your_reservations_path, class: 'dropdown-item' %>
            <%= link_to "Your Trips", your_trips_path, class: 'dropdown-item' %>
            <a class="dropdown-item" href="#">Wish Lists</a>
            <%= link_to "Edit Profile", edit_user_registration_path, class: 'dropdown-item' %>  
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Account Settings</a>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: 'dropdown-item' %>  
          </div>
        </div>
      <% end %>

      <a href="" class="nav-item nav-link">
        <i class="fa fa-envelope-o"></i> Message
      </a>
      <a href="" class="nav-item nav-link">
        <i class="fa fa-home fa-lg"></i> Become a host
      </a>

    </div>
  </div>
</nav>