<div class="row">
  <div class="col-md-3">
    <div class="list-group">
      <%= link_to "Your Rooms", rooms_path, class: 'list-group-item' %>
      <%= link_to "Your Reservations", rooms_path, class: 'list-group-item' %>
    </div>
  </div>
  <div class="col-md-9">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">Your rooms</h4>
      </div>
      <div class="card-block">
        <%	@rooms.each do |room| %>
          <div class="row">
            <div class="col-md-2">
              <%= image_tag room.photos[0].image.url() if room.photos.length > 0 %>
            </div>
            <div class="col-md-7">
              <h3><%= room.listing_name %></h3>
            </div>
            <div class="col-md-3">
              <%= link_to "Update", edit_room_path(room), class: 'btn btn-primary pull-xs-right' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

</div>